.App {
  text-align: center;
}

.header {
  background: lightskyblue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.user-rating {
  background: rgb(135, 162, 250);
  color: black;
}

.answerbox {
  width:100px;
}
